<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>deportivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">deportivo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="content-productos">
    <ion-row class="ion-justify-content-center">
      <ion-col size="6" size-sm="6" size-md="4" size-lg="3" size-xl="2" *ngFor="let p of productos | async">
        <ion-card class="card-producto">
          <img class="card-productos-img" [src]="p.image">
          <ion-card-content>
            <ion-label>
              {{ p.title}}
              <p>{{ p.price | currency:'USD' }}</p>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
